{% extends "main/base.html" %}
{% load static %}

{% block content %}
    <link rel="stylesheet" href="{% static 'projects/project.css' %}">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0/css/all.min.css">
    <link rel="stylesheet" href="{% static 'tasks/task.css' %}">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/socket.io/4.0.0/socket.io.js"></script>
    <script src="{% static 'projects/project.js' %}"></script>

    <div class="project-container">
        <div class="col-12">
            <h1 class="project-title">
                {{ project.name }}
                <i type="button" class="fas fa-trash-alt project-delete-icon" id="project-delete-icon"></i>
            </h1>
            <a href="/tasks/{{ project.id }}/create" class="fas fa-plus add-icon"></a>
        </div>

        <div class="tasks-table">

        <div class="column">
                <div class="table-header">OPEN</div>
                <div class="sub-column" id="column-open">
                    {% for task in open_tasks %}
                        {% include "tasks/task.html" with id=task.id title=task.title type=task.type.type status=task.status.status assignee=task.assignee %}
                    {% endfor %}
                </div>
            </div>

            <div class="column">
                <div class="table-header">IN PROGRESS</div>
                <div class="sub-column" id="column-in-progress">
                    {% for task in in_progress_tasks %}
                        {% include "tasks/task.html" with id=task.id title=task.title type=task.type.type status=task.status.status assignee=task.assignee %}
                    {% endfor %}
                </div>
            </div>

            <div class="column">
                <div class="table-header">DONE</div>
                <div class="sub-column" id="column-done">
                    {% for task in done_tasks %}
                        {% include "tasks/task.html" with id=task.id title=task.title type=task.type.type status=task.status.status assignee=task.assignee %}
                    {% endfor %}
                </div>
            </div>
        </div>
        {% if project.github_name and project.github_username %}
            {% include 'projects/github.html' with github_name=project.github_name github_username=project.github_username %}
        {% endif %}
    </div>
    <script>
        setupSocket({{ project.id }});

        {% for task in tasks %}
            setupTask({{ task.id }});
        {% endfor %}

        setupDeleteProject({{ project.id }});
    </script>
{% endblock %}
```