{% extends "main/base.html" %}
{% load static %}
{% block content %}
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0/css/all.min.css">
    <link rel="stylesheet" href="{% static 'projects/projects.css' %}">
    <div class="flex-direction-row flex-wrap flex-start">
        {% for project in projects %}
            <div class="project-card" id="project-{{ project.id }}">
                <div class="flex-direction-row">
                    <h2 class="project-name">{{ project.name }}</h2>
                    <div class="project-actions">
                        <a href="/projects/{{ project.id }}/update" class="fas fa-cog edit-icon"></a>
                    </div>
                </div>
                <p class="project-description">{{ project.description }}</p>
                <p class="project-creator">Created
                    by: {{ project.creator.first_name }} {{ project.creator.last_name }}</p>
                <ul class="project-members">
                    {% for member in project.members.all %}
                        <li class="project-member">{{ member.first_name }} {{ member.last_name }}</li>
                    {% endfor %}
                </ul>
            </div>
            <script>
                document.getElementById('project-{{ project.id }}').addEventListener('click', () => {
                    window.location.href = '/projects/{{ project.id }}'
                });
            </script>
        {% endfor %}
    </div>
{% endblock %}