{% extends "main/base.html" %}
{% load static %}

{% block content %}
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0/css/all.min.css">
    <link rel="stylesheet" href="{% static 'tasks/task_page.css' %}">
    <script async defer src="{% static 'tasks/task_page.js' %}">
        setupBackIcon({{ project_id }});
    </script>

    <div class="back-icon-wrapper">
        <a id="back-icon" class="fa-solid fa-arrow-left back-icon"></a>
    </div>
    <div class="task-page-container">
        <div class="task" id="task-{{ id }}">

            <div class="task-content">
                <div class="task-header {{ type }}" id="task-header-{{ id }}">
                    <span class="task-id">{{ id }}</span>
                    <span class="task-type">{{ type }}</span>
                    <div class="task-actions">
                        <a href="/tasks/{{ id }}/update" class="fas fa-cog edit-icon"></a>
                        <i id="delete-{{ id }}" class="fas fa-trash-alt delete-icon"></i>
                    </div>
                </div>
                <div class="task-body">
                    <h3 class="task-title">{{ title }}</h3>
                    <p class="task-status" id="{{ id }}-status">Status: {{ status }}</p>
                    <p class="task-assignee">Assignee: {{ assignee }}</p>
                </div>

                <div class="task-description" id="task-description">
                    <p>{{ description | safe }}</p>
                </div>
            </div>
        </div>
        <div class="font-icons">
            <i class="fa-solid fa-arrow-up plus-icon"></i>
            <i class="fa-solid fa-arrow-down minus-icon"></i>
        </div>
    </div>

{% endblock %}