#github-structure {
    display: flex;
    flex-direction: column;
    align-self: center;
    margin: 0.5em;
    position: relative;
    overflow-y: scroll;
    width: 69vw;
    height: fit-content;
    max-height: 60vh;
    background-color: rgba(204, 204, 204, 0.09);
    border: 1px solid #f0f0f0;
}

.github-dir,
.github-file {
    width: fit-content;
    border: none;
    color: #000;
    position: relative;
    font-size: 18px;
    text-align: left;
    transition: background 0.3s;
}

.github-dir {
    display: flex;
    flex-direction: column;
    background: none;
    cursor: pointer;
}

.github-file {
    background: none;
}

.icon-text {
    text-decoration: none;
    font-size: 22px;
    color: #0500a1;

    &.name {
        font-size: 16px;
    }

    &.file {
        color: #c70808;
    }
}

.github-element-wrapper {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 4px;
}