.container {
    display: flex;
    justify-content: space-between;
    width: 75%;
    margin: 20px;
    gap: 10px;
}

.column {
    background-color: #f0f0f0;
    padding: 10px;
    border-radius: 8px;
    width: 422px;
}

.sub-column {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 10px;
    width: 400px;
    background-color: #e0e0e0;
    padding: 10px;
    border-radius: 8px;
}

.table-header {
    font-weight: bold;
}

.table-cell {
    text-align: center;
}
